html, body {
  margin: 0;
  height: 100%;
}

body {
  padding: 20px;
  background: url("main/img/background.png") fixed;
  background-repeat: repeat;
}

header {
    background-color:rgba(35,28,26,0.8);
    height:80px;
    width:92%;
/*  position:fixed; */
    position:absolute; 
}

/* 說明 */
ul#menu {
  margin-bottom: 30px;
  text-align: right;
}

ul#menu li {
  display: inline-block;
}

.applylarge {
  font-size: 1.8em;
  }
.applyred{
  color: red;
  }
.special{
    font-size: 0.8em;
    color: green;
  }
.navbar{
    font-size: 0.8em;
    color: blue;
  }
#footer{
    font-size: 0.8em;
    background-color:#000000;
    color:#B7B7B7;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
 }
/* Button */
.btn {
  font-family: Arial;
  display: inline-block;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-decoration: none;
  border: thin solid gray;
  background: linear-gradient(#f7f7f7, #dedede);
}

/* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}

/* Misc */
.inlineBlock {
  display: inline-block;
}

.red {
  color: #f33;
}

.yellow-bg {
  background: #ffa;
}

.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}
